a, p {
    font-size: 18px;
}

p{
    margin-left: 10px;
    margin-right: 5px;
}

br { padding: 5px;

}

div{
    border-radius: 5px;
    background: #d4d4d4;
    font-style: italic;
    color: blue;    
}

.secao1{
    background: darkslategrey;
    border: none;
}

img{
    width: 50%;
    border-radius: 10px;
}

.container {
    position: relative;
    padding: 15px;
    max-width: 450px;
    margin: 0 auto;
}

.gallery-wrapper {
    overflow-x: auto;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 450px;
    width: 40px;
    color: #fff;
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    cursor: pointer;
    border: none;
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.item {
    width: 450px;
    height: 280px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
}

.current-item {
    opacity: 1;
}